@use "/src/sass/base/variables.scss" as *;

@mixin title {
    font-weight: 800;
    color: $light;
}

@mixin button_portfolio {
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    color: $light;
    text-align: center;
    align-items: center;
    background: $blue;
}

@mixin button_contact {
    border: 1px solid $light;
    border-radius: 5px;
    width: 157px;
    height: 44px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
    background-color: #19191B;
}

@mixin button-container {
    border-radius: 100%;
    width: 15px;
    height: 15px;
}