$light: #FFFFFF;
$button: #5454D4;
$ceramic: #D7BA7D;
$blue: #68CDFE;
$orange: #CE9178;
$green: #B5CEA8;
$pink: #DA70CB;

$red: rgba(226, 77, 40, 0.1);
$purple: rgba(102, 51, 153, 0.1);
$yellow: rgba(254, 220, 90, 0.1);