@use "/src/sass/base/variables.scss" as *;

.about {
    margin-top: 150px;
    margin-bottom: 100px;

    &__grid {
        margin-top: 188px;
        display: grid;
        grid-template-columns: repeat(3, 282px);
        grid-template-rows: repeat(2, 200px);
        column-gap: 125px;
        row-gap: 70px;
        padding: 0 52px;
    }

    &__btn {
        display: flex;
        gap: 8px;
        margin-bottom: 10px;
    }

    &__widget {
        background-color: #252526;
        padding: 20px;
        border-radius: 8px;
        width: 282px;
        height: 200px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        font-family: monospace;
        text-align: left;
    }

    &__list {
        display: block;
        white-space: pre;
        margin: 0;
        text-align: left;
    }

    &__orange {
        color: $orange-cod;
    }

    &__yellow {
        color: $yellow-cod;
    }

    &__blue {
        color: $blue-cod;
    }

    &__green {
        color: $green-cod;
    }

    &__brown {
        color: $brown-cod;
    }

    &__white {
        color: $white-cod;
    }

    &__pink {
        color: $pink-cod;
    }
}