@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-cont {
    @include button_contact;

    &:hover {
        color: #19191B;
        border: 1px solid #19191B;
        background-color: $light;
    }
}

.btn-port {
    @include button_portfolio;
}