@use "/src/sass/base/variables.scss" as *;

.orange {
    color: $orange-cod;
}

.yellow {
    color: $yellow-cod;
}

.blue {
    color: $blue-cod;
}

.green {
    color: $green-cod;
}

.brown {
    color: $brown-cod;
}

.white {
    color: $white-cod;
}

.pink {
    color: $pink-cod;
}